<!-- start custom head snippets -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; base-uri 'self'; style-src-elem 'self' 'unsafe-inline'; img-src 'self'; script-src 'self' 'unsafe-inline'; font-src 'self'; object-src 'self'; form-action 'self'" />
<meta http-equiv="Referrer-Policy" content="no-referrer" />

<script src="/assets/jquery/jquery-3.5.1.slim.min.js"></script>

<script>
    // Open external links in a popup modal notice
    $(window).on('load', function () {
        $.expr[":"].external = function (a) {
            try {
                return !a.href.match(/^mailto\:/) && !a.href.match(/^tel\:/) && new URL(a.href).host !== (window.location.host);
            }
            catch (ex) {
                return true;
            }
        };

        $("a:external").click(function (z) {
            return confirm("You're about to follow an external link and leave this website. Continue?");
        });
    });
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico?">

<!-- end custom head snippets -->