<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; base-uri 'self'; style-src-elem 'self' 'unsafe-inline'; img-src 'self'; script-src 'self' 'unsafe-inline'; font-src 'self'; object-src 'self'; form-action 'self'" />
<meta http-equiv="Referrer-Policy" content="no-referrer" />

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<script src="/assets/jquery/jquery-3.5.1.slim.min.js"></script>

<script>
    // Open external links in a popup modal notice
    $(window).on('load', function () {
        $.expr[":"].external = function (a) {
            try {
                return !a.href.match(/^mailto\:/) && !a.href.match(/^tel\:/) && new URL(a.href).host !== (window.location.host);
            }
            catch (ex) {
                return true;
            }
        };

        $("a:external").click(function (z) {
            return confirm("You're about to follow an external link and leave this website. Continue?");
        });
    });
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="/assets/fontawesome/css/all.css">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
